<html>

<head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link href="{% static 'ProyectoDraWeb/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     
    <!-- Styles -->
    <link href="{%static 'ProyectoDraWeb/css/gestion.css'%}" rel="stylesheet">
</head>

<body>
  
   <!-- Navbar -->



   <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img class="intro-img img-fluid mb-3 mb-sm-0 rounded" src ="{%static 'ProyectoDraWeb/img/logo_medina.png'%}" alt="" style= "width: 20%;">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" style="color: palevioletred;" aria-current="page" href="{% url 'HomeA' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: palevioletred;" href="{% url 'Gastos' %}">Gastos</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" style="color: palevioletred;" href="{% url 'Ingresos' %}">Ingresos</a>
            </li>
            
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
  
  

    
      
   
      <div style="color: white;text-align: right;margin-right: 100px;">
      {% if user.is_authenticated %}

      Hola {{user.username}} &nbsp   <a href="{% url 'CerrarSesion'%}" style = "color: rgb(250, 58, 58);">Cerrar Sesion </a>


      {% else %}
      
        <a href = "{% url 'Login'%}" style = "color: rgb(240, 59, 59);"> Login </a> &nbsp;  <a href="{% url 'Autenticacion'%}" style = "color: rgb(247, 80, 80);">Registrate</a>  
      
      {% endif %}
    </div>


 


  {% block content %}



  {% endblock %}
    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> 
        	<a href="sample.html" class="link">Aviso legal</a> 
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Gestión de COnsultorio 2025</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{%static 'ProyectoDraWeb//vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'ProyectoDraWeb//vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>


</html>