<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'ProyectoDraWeb/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     
    <!-- Styles -->
    <link href="{%static 'ProyectoDraWeb/css/gestion.css'%}" rel="stylesheet">
</head>

<body>
  
   <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="mainNav" style="background-color: rgb(208, 58, 58);">
    <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="{%static 'ProyectoDraWeb/img/logo_medina.png'%}" alt="Logo" width="300" height="84" class="d-inline-block align-text-top" style="margin-right: 50%;">
            </a>
           
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if request.path == '/ProyectoWebApp/' %} active {% endif %} px-lg-4" style="color: #373636;">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'HomeA' %}">Inicio</a>
                </li>
           
                <li class="nav-item {% if request.path == '/servicios/' %} active{% endif %} px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'Gastos' %}">Gastos</a>
                </li>
           
                <li class="nav-item {% if request.path == '/ingress/' %} active {% endif %} px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'Ingresos' %}">Ingresos</a>
                </li>
           
                <li class="nav-item {% if request.path == '/contacto/' %} active{% endif %} px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="#">Citas</a>
                </li> 
               
              </ul>
            </div>
          </div>
        </nav>

    
      
   
      <div style="color: white;text-align: right;margin-right: 100px;">
      {% if user.is_authenticated %}

      Hola {{user.username}} &nbsp   <a href="{% url 'CerrarSesion'%}" style = "color: rgb(250, 58, 58);">Cerrar Sesion </a>


      {% else %}
      
        <a href = "{% url 'Login'%}" style = "color: rgb(240, 59, 59);"> Login </a> &nbsp;  <a href="{% url 'Autenticacion'%}" style = "color: rgb(247, 80, 80);">Registrate</a>  
      
      {% endif %}
    </div>


 


  {% block content %}



  {% endblock %}
    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> 
        	<a href="sample.html" class="link">Aviso legal</a> 
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; Gestión de COnsultorio 2025</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{%static 'ProyectoDraWeb//vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'ProyectoDraWeb//vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>


</html>