{% extends "ProyectoDraWeb/base.html" %}

{% load static %}

{% block content %}

{% if "valido" in request.GET %}

<p style = "color: #ffffff;"> Informacion enviada correctamente</p>

{% endif %}

</br>
<div class ='card' style="width: 60%; margin: auto;">
    <div class="card-body">
<form action="/ingresos/" method="POST" class = "row g-3" >
    {% csrf_token %}

    <div class="col-auto">
        <label for="exampleInputEmail1" class="form-label">Concepto</label>
        {{form.concepto}}
    </div>

    <div class="col-auto">
        <label for="exampleInputEmail1" class="form-label">Valor</label>
        {{form.valor}}
    </div>

    <div class="col-auto">
        <label for="exampleInputEmail1" class="form-label">Tratamiento</label>
        {{form.tratamiento}}
    </div>

    <div class="col-auto">
        <label for="exampleInputEmail1" class="form-label">Cliente</label>
        {{form.cliente}}
    </div>
    
    <div class="col-auto">
        <label for="exampleInputEmail1" class="form-label">Abono</label>
        {{form.abono}}
    </div>

    <div class="col-12" style="margin-top: 10px;margin-left: 1%;">
    <button type="submit" class="btn btn-secondary">Guardar</button>
    </div>

</form>

</div>
</div>


</br>
{% include "tabla/tablaI.html" %}

</br>



{% endblock %}


    
